* {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}